<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>窝窝智慧养老整体解决方案</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="窝窝智能科技" />
    <meta name="Description" content="窝窝智能科技" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="__HOME__/css/bootstrap.css" rel="stylesheet" />
    <link href="__HOME__/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__HOME__/css/style.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="__HOME__/js/html5shiv.min.js"></script>
      <script src="__HOME__/js/respond.min.js"></script>
    <![endif]-->
    <script src="__HOME__/js/jquery.min.js"></script>
</head>

<body class="cbp-spmenu-push">

    <!--网站顶部-->
    <div class="header">
        <div class="pc_head">
            <div class="row">
                <div class="header_top bg_color clear">
                    <div class="container">
                        <div class="">
                            <div class="logo"><a href="index.html" title=""><img src="__HOME__/images/o_e529e6346aed484c8d4716607d100465.jpg" alt="" /></a></div>
                            <div class="f_right" style="font-size:18px; float:left; margin-left: 20px; letter-spacing:2px; color:#6CA6CD"><b>上海窝窝智能科技有限公司</b></div>
                            <div class="f_right">
                                <span><small>服务电话：</small>13661475825</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_nav clear">
                <div class="container">
                    <div class="row">
                        <foreach name="menus" item="v">
                            <a href="{:U($v[en])}" class="a_link hover" title="网站首页">{$v[name]}</a><span>|</span>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
       
    </div>